/* div, .tip-image{
    background-image: url('http://www.artsjournal.com/worth/wp-content/uploads/2013/03/tips.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
} */