.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(92, 90, 90);
  padding: 1%;
  box-shadow: 0.5px 2px 7px #282c34;
}

.header {
  box-shadow: 0.5px 2px 7px #282c34;
  padding: 1%;
}

.dashboard {
  display: flex;
  flex-direction: column;
  width: 95%;
  padding: 2%;
  padding-top: 0;
  margin-top: 10px;
  justify-content: space-between;
  justify-items: space-between;
  align-self: center;
  justify-self: center;
  margin-bottom: 10%;
}

.worker-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap;
  width: 100%;
}

.worker-card {
  background-color: #282c34;
  padding: 1%;
  border-radius: 15px;
  width: 28%;
  margin-bottom: 1%;
  box-shadow: 0.5px 2px 7px #282c34;
}

.catch-phrase {
  font-style: italic;
  color: #09d3ac;
}

.card-text {
  color: white;
}

.tip-button, .search-button {
  outline: 0;
  background: none;
  background-color: #14684E;
  float: left;
  height: 42px;
  width: 100%;
  text-align: center;
  border: 0;
  margin: 0;
  color: #FFF;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 9pt;
  text-rendering: auto;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 6px;
  cursor: pointer;
  font-family:
    "SFMono-Regular",
    Consolas,
    "Liberation Mono",
    Menlo,
    Courier,
    monospace;
}
.tip-button:hover {
  background-color: rgb(92, 90, 90);
}


.logout {
  outline: 0;
  background: none;
  background-color: red;
  float: left;
  height: 42px;
  width: 100%;
  text-align: center;
  border: 0;
  margin: 0;
  color: #FFF;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 9pt;
  text-rendering: auto;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 6px;
  cursor: pointer;
  font-family:
    "SFMono-Regular",
    Consolas,
    "Liberation Mono",
    Menlo,
    Courier,
    monospace;
  padding-left: 10px;
  padding-right: 10px;
}

.search-form {
  margin-bottom: 1%;
  margin-top: 1%;
  background-color: rgb(92, 90, 90);
  padding: 1%;
  border-radius: 10px;
  box-shadow: 0.5px 2px 7px #282c34;
}

.search-button {
  width: 40%;
  float: right;
  box-shadow: 0.5px 2px 7px #282c34;
}

.search-input {
  height: 40px;
  width: 50%;
  border-radius: 6px;
  font-size: 13pt;
  border: 1px solid #14684E;
  box-shadow: 0.5px 2px 7px #282c34;
  padding-left: 10px;
}

.tip-box {
  width: 99%;
  border-radius: 5px;
  height: 35px;
  margin-bottom: 8px;
  border: none;
  padding-left: 5px;
  font-size: 12pt;
}